<nav class="navigation-bar">
  <img src="Logo.png" class="nav-icon" />
  <div class="nav-links">
    <a class="nav-link" routerLink="/">Home</a>
    <a class="nav-link" routerLink="/event">Events</a>
    <a class="nav-link" routerLink="/admin">Admin</a>
  </div>
</nav>

<div class="home-title">
  <div class="home-desc">
    <h1>Book Your Perfect Event in Minutes!</h1>
    <p>
      <i>
        "Planning an event? We've got you covered! From weddings and corporate gatherings to birthday parties and
        concerts, discover top-rated venues, customize your experience, and book everything in one place. Say goodbye to
        stress and hello to seamless event planning!"
      </i>
    </p>
  </div>
  <img class="homepage-image" src="home_png.png" alt="homepage-icon" />
</div>
