<div class="container my-5">
  <!-- Header -->
  <div class="bg-dark p-3 text-center text-white rounded shadow-sm">
    <h3 class="text-danger">Event Booking Admin</h3>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage != null" class="bg-danger mt-3 p-2 text-center text-white rounded">
    {{ errorMessage }}
  </div>

  <!-- Login Form -->
  <div class="bg-light p-4 mt-3 rounded shadow-sm">
    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
      <div class="mb-3">
        <label class="form-label text-dark">Username</label>
        <input class="form-control" name="username" [(ngModel)]="username" required />
      </div>
      <div class="mb-3">
        <label class="form-label text-dark">Password</label>
        <input class="form-control" type="password" name="password" [(ngModel)]="password" required />
      </div>
      <div class="text-center">
        <a routerLink="/" class="btn btn-outline-secondary m-1">Go Back</a>
        <button type="submit" class="btn btn-danger m-1">Log In</button>
      </div>
    </form>
  </div>
</div>
