<div
  class="bg-primary p-2 text-white"
  [class.bg-warning]="editing"
  [class.text-dark]="editing"
>
  <h5>{{ editing ? "Edit" : "Create" }} event</h5>
</div>
<form novalidate #form="ngForm" (ngSubmit)="save(form)">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" [(ngModel)]="event.name" />
  </div>
  <div class="form-group">
    <label>Category</label>
    <input class="form-control" name="category" [(ngModel)]="event.category" />
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea
      class="form-control"
      name="description"
      [(ngModel)]="event.description"
    ></textarea>
  </div>
  <div class="form-group">
    <label>Price</label>
    <input class="form-control" name="price" [(ngModel)]="event.price" />
  </div>

  <div class="form-group">
    <label>Image URL</label>
    <input class="form-control" name="image" [(ngModel)]="event.image" />
  </div>

  <div class="form-group">
    <label>location</label>
    <input class="form-control" name="location" [(ngModel)]="event.location" />
  </div>

  <div class="form-group">
    <label>time</label>
    <input class="form-control" name="time" [(ngModel)]="event.time" />
  </div>
  <button type="submit" class="btn btn-primary ml-2 mr-2">
    {{ editing ? "Save" : "Create" }}
  </button>
  <button
    type="reset"
    class="btn btn-secondary"
    routerLink="/admin/main/events"
  >
    Cancel
  </button>
</form>
